html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  resize: both;
  overflow: auto;
  background-image: url("background.png"), url("background.png");
  background-color: rgb(235, 235, 255);
  background-repeat: no-repeat;
  background-position: left, right;
}